@font-face {
    font-family: "Soulmaze";
    src: url('../public/fonts/Soulmaze.otf');
}
@font-face {
    font-family: "Coolvetica";
    src: url('../public/fonts/coolvetica.ttf');
}

body {
    margin: 0;
}

.vanta-canvas {
    height: 100% !important;
}

html {
    background: #141A43;
    overflow-x: hidden;
}
